/* NuevoArchivo.css */

.bg-light-purple-bottom {
    background-color: #b59edb;
    position: relative;
    overflow: hidden;
  }
  
  .wavess-container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    transition: 500ms;
  }
  .wavess{
    content: '';
    position: absolute;
    top: 200%;
    width: 100vw;
    height: 100vw;
    left: 50%;    
    transform: translate(-20%, -75%);
    background: rgb(87, 15, 105);
    border-radius: 42%;
    animation: waves 10s linear infinite reverse;
  }
  @keyframes waves {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
  
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }