/* AuthLayout.css */

.bg-light-purple {
    background-color: #b59edb;
    position: relative;
    overflow: hidden;
  }
  
  .olas-container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200vh;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
  }
  
  .olas {
    position: sticky;
    height: 100%;
  }
  
  .olas::before,
  .olas::after {
    content: '';
    position: absolute;
    width: 150vw;
    height: 150vw;
    top: -45vw;
    left: 50%;
    transform: translate(-50%, -75%);
  }

  .olas::after {
    border-radius: 42%;
    background: rgb(87, 15, 105);
    animation: waves 10s linear infinite;
  }
  
  .olas::before {
    border-radius: 20%;
    background: rgba(92, 232, 177);
    animation: waves 15s linear infinite reverse;
  }

  
  @keyframes waves {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
  
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
  